body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
    transition: 0.3s;
}

body.light {
    background-color: #f5f5f5;
    color: #111;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #181818;
}

body.light .header {
    background-color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #333;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background-color: #555;
}

.primary {
    background-color: red;
}

.primary:hover {
    background-color: darkred;
}

#themeToggle {
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.video-card {
    background-color: #181818;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

body.light .video-card {
    background-color: white;
}

.video-card:hover {
    transform: scale(1.05);
}

.thumbnail {
    height: 150px;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 10px;
}
