/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Стиль для заголовков */
header h1 {
    text-align: center;
    color: #4CAF50;
}

/* Стили для параграфов */
header p {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}

/* Стиль для основного контента */
.content {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.content h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
